QMenu {
    background-color: #2a2a2a;
    color: #eeeeee;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    padding: 6px;
}

QMenu::item {
    padding: 8px 20px;
    border-radius: 4px;
}

QMenu::item:selected {
    background-color: #54C750;
    color: white;
}

QMenu::icon {
    width: 0px;
}

#TitleBar {
    background-color: #060C06;
    border-bottom: 1px solid #2D2D2D;
}

#LogoLabel {
    padding: 0px 15px 0px 15px;
}

#MenuButton {
    background: transparent;
    color: #F0F2F0;
    border-radius: 0px;
    padding: 12px 10px;
}

#MenuButton::menu-indicator {
    image: none;
    width: 0px;
    height: 0px;
}

#Notice {
    color: #9A9472;
    background: transparent;
    border: 1px solid #9A9472;
    border-radius: 15px;
    padding: 0px 14px;
    margin: 6px 10px 6px 10px;
}

#DeviceLabel {
    color: #9A9A9A;
    background: transparent;
    border: 1px solid #9A9A9A;
    border-radius: 15px;
    padding: 0px 14px;
    margin: 6px 20px 6px 10px;
}

#MinButton, #MaxButton, #CloseButton {
    background: transparent;
    border-radius: 0px;
    padding: 0px;
}

#MenuButton:hover, #MinButton:hover, #MaxButton:hover {
    background-color: #2D2D2D;
}

#CloseButton:hover {
    background-color: #E81123;
}
