QMainWindow {
    background: #060C06;
    color: #F0F2F0;
    font-size: 13px;
}

QPushButton {
    background: #54C750;
    color: #1E1E1E;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 13px;
}
QPushButton:hover {
    background: #6FD96C;
}
QPushButton:disabled {
    background-color: #58AD55;
}

QSplitter::handle {
    background: transparent;
}

/* Resize scrollbar */
QScrollBar:vertical, QScrollBar:horizontal {
    width: 10px;
    height: 10px;
}

QMessageBox {
    background-color: #f0f2f0;
    color: #3E3F3E;
    font-size: 13px;
}

QMessageBox QLabel {
    color: #3E3F3E;
    font-size: 13px;
    padding: 5px 10px 0px 0px;
}

QMessageBox#About QLabel {
    padding: 5px 45px 0px 30px;
}
